<%- include('./partials/header')%>
<h1>World Puzzle</h1>
<p>Far beyond your imagination.</p>

<% posts.forEach((post, i) => { %>
  <h1><%= posts[i].title %></h1>
  <p>
    <%= posts[i].content.substring(0, 100) +' ... ' %>
    <a href="/posts/<%=posts[i].title%>">Read More</a>
  </p>
<% }) %>
<%- include('./partials/footer')%>
